@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

:root {
  /* color scheme */
  --background: white;
  --text-primary: black;

  --gray: #eeeeee;
  --black: black;

  --border-radius: 12px;
  --font-unbounded: "Unbounded", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

h1 {
  font-family: var(--font-unbounded);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: var(--font-unbounded);
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.containerBox {
  padding: 120px 48px;
}

.lightButton {
  border: none;
  background: var(--gray);
  text-align: center;
  font-size: 24px;
  padding: 24px;
  width: 100%;
  font-family: inherit;
}

.transparentButton {
  border: 1px solid var(--black);
  background: var(--gray);
  text-align: center;
  font-size: 24px;
  padding: 24px;
  width: 100%;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

.underlineButton {
  border: none;
  border-bottom: 1px solid var(--black);
  background: none;
  text-align: center;
  font-size: 24px;
  padding-bottom: 4px;
  font-family: inherit;
  opacity: 0.8;
}
