@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

:root {
  /* color scheme */
  --background: white;
  --text-primary: black;
  --text-white:white;

  --gray: #eeeeee;
  --black: black;
  --matte-black:#434343;
  --border-radius: 12px;
  --font-unbounded: "Unbounded", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--background);

  @media screen and (min-width: 1080px) {
    border: 1px solid var(--gray);
  }
}

h1 {
  font-family: var(--font-unbounded);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: var(--font-unbounded);
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.containerBox {
  padding: 120px 48px;
}

.lightButton {
  border: none;
  background: var(--matte-black);
  text-align: center;
  font-size: 24px;
  padding: 24px;
  width: 100%;
  font-family: inherit;
  cursor: pointer;
  color: var(--text-white);
}
.lightButton:hover {
  filter: brightness(124%);
}

.transparentButton {
  border: 1px solid var(--black);
  background-color:var(--background);
  text-align: center;
  font-size: 24px;
  padding: 24px;
  width: 100%;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.transparentButton:hover {
  filter: brightness(94%);
}

.underlineButton {
  border: none;
  border-bottom: 1px solid var(--black);
  background: none;
  text-align: center;
  font-size: 24px;
  padding-bottom: 4px;
  font-family: inherit;
  opacity: 0.8;
  cursor: pointer;
  color: var(--matte-black);
}
.underlineButton:hover {
  /* color: var(--black); */
  filter: brightness(00%);
}