.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

}

.upperContainer {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.lowerContainer {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
